<div
  id="geodash-modal-search-object"
  class="geodash-controller geodash-controller-modal geodash-modal modal fade geodash-search-object"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myModalLabel">
  <div id="geodash-search-object" class="modal-dialog geodash-responsive" data-backdrop="static" role="document">
    <div
      ng-if="showModal(objectIndex)"
      class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" aria-hidden="true" ng-click="go_back()"><i class="fa fa-times"></i></button>
        <h4 id="myModalLabel" class="modal-title"><span>Edit</span><span ng-repeat-start="x in breadcrumbs track by $index"> / </span><span ng-if="$last" ng-bind-html="x.content"></span><a ng-repeat-end ng-if="! $last" ng-click="rollback($index)" role="button" ng-bind-html="x.content"></a></h4>
      </div>
      <div class="modal-body">
        <div geodash-tabs></div>
        <div class="tab-content">
          <div
            id="modal-search-object-pane-input"
            role="tabpanel"
            class="tab-pane fade active in"
            style="padding: 10px;overflow-y: scroll; height:240px;">
            <form
              novalidate
              class="form-horizontal simple-form"
              ng-if="objectIndex != undefined"
              style="padding-bottom:20px;">
              <div
                class="form-group"
                style="margin:0; padding-top: 10px; padding-bottom: 10px;">
                <div class="input-group">
                  <div
                    class="input-group-addon btn btn-primary"
                    data-toggle="tooltip"
                    data-placement="bottom"
                    data-container="#geodash-modal-search-object .modal-dialog"
                    ng-attr-title="{{ schema | extract : schemapath : 'description' }}">
                    <i class="fa fa-info-circle"></i>
                  </div>
                  <div
                    id="editor-field-{{ path_flat }}-label"
                    name="editor-field-{{ path_flat }}-label"
                    class="input-group-addon"
                    ng-bind-html="schema | extract : schemapath : 'label'">
                  </div>
                  <input
                    id="editor-field-{{ path_flat }}"
                    name="editor-field-{{ path_flat }}"
                    type="text"
                    class="typeahead form-control"
                    style="height: auto;"
                    data-geodash-field-type="{{ schema | extract : schemapath : 'type' }}"
                    ng-required="schema | extract : schemapath : 'required'"
                    aria-describedby="editor-field-{{ path_flat }}-label"
                    data-local-data="{{ localDataForSearch() }}"
                    data-remote-data="{{ remoteDataForSearch() }}"
                    data-search-output="{{ outputForSearch() }}"
                    data-typeahead-datasets="{{ datasetsForSearch() }}"
                    data-target-scope-id="geodash-modal-search-object"
                    data-target-scope-path="{{ path_array | prepend : 'workspace' | json }}"
                    data-template-suggestion="{{ schema | extract : schemapath : 'search' : 'templates' : 'suggestion' | default_if_undefined: 'default' }}"
                    ng-keyup="keyUpOnField($event)">
                  <div
                    class="input-group-addon btn btn-primary btn-show-options"
                    data-toggle="tooltip"
                    data-placement="bottom"
                    data-container="#geodash-modal-search-object .modal-dialog"
                    title="Show Options."
                    ng-click="showOptions('#editor-field-'+path_flat)">
                    <i class="fa fa-chevron-down"></i>
                  </div>
                </div>
              </div>
            </form>
            <pre
              style="word-wrap: break-word; white-space: pre-wrap;height: 240px;overflow-y: scroll;"
              ng-bind-html="workspace | extract : path | yaml : 8"></pre>
          </div>
          <div
            id="modal-search-object-pane-yaml"
            class="tab-pane fade"
            role="tabpanel"
            style="padding: 10px;">
            <h4 ng-bind-html="schema | extract : path : 'schema' : 'verbose_singular' | default_if_undefined : 'Object' | append : ' as YAML'"></h4>
            <pre
              style="word-wrap: break-word; white-space: pre-wrap;height: 240px;overflow-y: scroll;"
              ng-bind-html="workspace | extract : path | yaml : 8"></pre>
          </div>
          <div
            id="modal-search-object-pane-json"
            class="tab-pane fade"
            role="tabpanel"
            style="padding: 10px;">
            <h4 ng-bind-html="schema | extract : path : 'schema' : 'verbose_singular' | default_if_undefined : 'Object' | append : ' as JSON'"></h4>
            <pre
              style="word-wrap: break-word; white-space: pre-wrap;height: 240px;overflow-y: scroll;"
              ng-bind-html="workspace | extract : path | json"></pre>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-success"
          ng-bind-html="save_label()"
          ng-click="save_object()"></button>
        <button
          type="button"
          class="btn btn-default"
          ng-bind-html="back_label()"
          ng-click="go_back()"></button>
        <button
          type="button"
          class="btn btn-danger"
          ng-bind-html="'Cancel'"
          ng-click="rollback_all()"></button>
      </div>
    </div>
  </div>
</div>
